*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
}

.small-col{
    width: 20%;
}

.big-col{
    width: 60%;
}

.full-col{
    width: 100%;
}

/*header*/

header{
    padding: 10px 0px;
}

#header-links ul li{
    display: inline-block;
    margin: 0px 10px 0px 10px;
}

/*main*/

h1{
    font-size: 40px;
}

h2{
    font-size: 30px;
}

#jumbotron{
    background-image: url(../img/jumbo.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    max-width: 1800px;
    min-height: 500px;
}

.download-section{
    background-image: url(../img/stars.svg);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

/*footer*/

h3{
    font-size: 30px;
}

#flag{
    width: 10%;
}

#top-footer li, footer div>h3, footer div>p, footer div>span{
    margin: 10px;
}

/*utility*/

.bg-blue{
    background-color: #255EE9;
}

.bg-lightblue{
    background-color: #7289DA ;
}

.bg-darkgrey{
    background-color: darkgrey;
}

.bg-white{
    background-color: white;
}

.bg-black{
    background-color: black;
}

.border-top{
    border-top: 2px solid #7289DA;
}

.button{
    border-radius: 20px;
    padding: 10px 15px;
}

/*utility-flex*/

.d-flex{
    display: flex;
}

.flex-center{
    justify-content: center;
    align-items: center;
}

.align-center{
    align-items: center;
}

.j-center{
    justify-content: center;
}

.j-evenly{
    justify-content: space-evenly;
}

.j-between{
    justify-content: space-between;
}

.a-end{
    align-items: flex-end;
}

/*utility-dimension*/

.inline-block{
    display: inline-block;
}

.p50-t{
    padding-top: 50px;
}

.p50-b{
    padding-bottom: 50px;
}

.m-10{
    margin: 10px;
}

.m50-t{
    margin-top: 50px;
}


.m10-b{
    margin-bottom: 10px;
}

.m10-center{
    margin: 10px auto;
}

.vertical-middle{
    vertical-align: middle;
}

/*utility-text*/

body{
    font-family: "Lato";
}

.color-white{
    color: white;
}

.color-lightblue{
    color:#7289DA;
}

.line-height{
    line-height: 23px;
}

.text-left{
    text-align: left;
}

.text-right{
    text-align: right;
}

.text-center{
    text-align: center;
}