*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.small-col{
    width: 20%;
}

.big-col{
    width: 60%;
}

/*header*/

header{
    padding: 25px 0px;
}

#header-links{
    text-align: center;
}

#header-links ul{
    list-style: none;
}

#header-links ul li{
    display: inline-block;
    margin: 0px 5px 0px 5px;
}

/*fine header*/

/*main*/

#jumbotron{
    background-image: url(../img/jumbo.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    max-width: 1800px;
    min-height: 500px;
}

.col-1 {
    flex-grow: 3;
}

.col-2,.col-3,.col-4,.col-5 {
    flex-grow: 1;
    border: 2px dashed white;
}

.download-section{
    background-image: url(../img/stars.svg);
    background-size: 50%;
    background-repeat: no-repeat;
}

/*fine main*/

/*footer*/

footer div.container{
    width: 100%;
}

/*fine footer*/

/*utility*/

.bg-header{
    background-color: #255EE9;
}

.bg-blue{
    background-color: blue;
}

.bg-darkgrey{
    background-color: darkgrey;
}

.bg-pink{
    background-color: pink;
}

.bg-black{
    background-color: black;
}

.border{
    border: 2px dashed black;
}

.border-radius{
    background-color: white;
    border-radius: 15px;
}

.color-white{
    color: white;
}

/*utility-flex*/

.d-flex{
    display: flex;
}

.flex-center{
    justify-content: center;
    align-items: center;
}

.align-center{
    align-items: center;
}

.j-between{
    justify-content: space-between;
}

.a-end{
    align-items: flex-end;
}

/*utility-dimension*/

.inline-block{
    display: inline-block;
}

.p-10{
    padding: 10px;
}

.p-5{
    padding: 5px;
}

.m-10{
    margin: 10px;
}

.m-center{
    margin: 0 auto;
}

/*utility-text*/

.text-left{
    text-align: left;
}

.text-right{
    text-align: right;
}

.text-center{
    text-align: center;
}